
# Environment variables (NEVER commit these!)
.env
.env.*
.venv



# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
*.stackdump

# Deployment
.vercel
